.background{
    background-image: url('../../assets/images/Rectangle\ 1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(25%);
}